/* reset ================================ */
* {
    box-sizing: border-box;
  }
  
  html {
    font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
    line-height: 1.7;
    letter-spacing: 1px;
  }
  
  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: #2d3133;
    font-size: 14px;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  
  input {
    background-color: transparent;
    outline-width: 0;
  }
  
  form input[type="submit"] {
    border: none;
    cursor: pointer;
  }
  
  /* 共通レイアウト ================================ */
  body {
    color: #2d3133;
    background-color: #003d66;
    margin: 0;
    min-height: 1vh;
  }
  
  .main {
    position: absolute;
    top: 64px;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: #f5f8fa;
  }
  
  .container {
    max-width: 600px;
    margin: 60px auto;
    padding-left: 15px;
    padding-right: 15px;
    clear: both;
  }
  
  .top-main {
    padding: 200px 0 100px;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    color: white;
    background-color: #003d66;
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: cover;
  }
  
  .top-message {
    position: relative;
  }
  
  .top-main h2 {
    font-size: 70px;
    font-weight: 500;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 20px;
  }
  
  .top-main h3 {
      font-size: 48px;
      font-weight: 500;
      line-height: 1.3;
      -webkit-font-smoothing: antialiased;
    }
  
  .top-main p {
    font-size: 24px;
  }

  .form {
    max-width: 300px;
    margin: 0 auto;
    background-color: rgb(192, 238, 250);
    box-shadow: 0 2px 6px #c1ced7;
  }
  
  .form-heading {
    font-weight: 300;
    margin: 60px 0 20px;
    font-size: 48px;
    color: #bcc8d4;
  }
  
  .form-body {
    padding: 30px;
  }
  
  .form-error {
    color: #ff4d75;
  }

  .form input {
    width: 100%;
    border: 1px solid #d8dadf;
    padding: 10px;
    color: #57575f;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 2px;
    text-align: center;
  }
  
  .form textarea {
    width: 100%;
    min-height: 110px;
    font-size: 16px;
    letter-spacing: 2px;
  }
  
  .form input[type="submit"] {
    background-color: #3ecdc6;
    color: white;
    cursor: pointer;
    font-weight: 300;
    width: 120px;
    border-radius: 2px;
    margin-top: 8px;
    margin-bottom: 0;
  }
  
  .form-body:after {
    content: '';
    display: table;
    clear: both;
  }
  
  .posts-index-item {
      padding: 20px 30px;
      background-color: white;
      overflow: hidden;
      box-shadow: 0 2px 6px #c1ced7;
    }

.about-main {
    color: white;
  }
  
  .about-main h2 {
    font-size: 64px;
    font-weight: 500;
    line-height: 1.4;
  }
  .about-main h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    text-align: right;
    margin-bottom: 5px;
  }
  
  .about-main p {
    font-weight: 200;
    font-size: 20px;
  }
  
  .about-img {
    width: 84%;
  }
  button {
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 5px;
    border: 0cm;
    text-shadow: 1px 1px 3px #666166;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #0041a1;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 20px;
}
  
button:hover {
    background: #3cb0fd;
    text-decoration: none;
}

#container{
  color: #bcc8d4;
}

#wrapper{
  color: #3cb0fd;
}